[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitpython = "3.1.41"
prettytable = "3.9.0"
pytz = "2024.1"
requests = "2.31.0"

[dev-packages]
pyinstaller = "*"
pylint = "*"
pytest = "*"

[requires]
python_version = "3.11"
